<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>vid</string>
	<key>CFBundleIconFile</key>
	<string>vid</string>
	<key>CFBundleIdentifier</key>
	<string>ExampleApp</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleURLTypes</key>
        <array>
          <dict>
<key>CFBundleURLName</key>
<string>volt URL</string>
	  <key>CFBundleURLSchemes</key>
			<array>
				<string>volt</string>
			</array>
	  </dict>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>10.7.0</string>
	<key>LSUIElement</key>
	<string>1</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>